/**************/
/* Custom CSS */
/**************/

body{
	background-color: #f3f3f1;
	color: #3f4953;
}

h1 {
	color: #f25a4f;
}


/*.url {
	min-height: 550px;
}*/

#survey{
	top: -50px;
	/*margin-top: 20px;*/
	/*margin-left: 35px;*/
	background-color: #fff;
	border: 3px solid white;
	border-radius: 10px;
	margin-bottom: 10px;
}

#individualpost{
	/*list-style-type:none;*/

	line-height: 120%;
	background-color: rgba(255, 255, 255, .5 );
	width: 220px;
	border: 3px solid white;
	margin: 10px;
	border-radius: 10px;
	height: 300px;
	text-overflow: ellipsis;
	overflow: scroll;
	padding: 5px 7px 3px 7px;
	/*margin-top: 20px;*/
/*	background-color: #FFF;
	*/
}

.url {
	width: 200px;
}

.foundobject{
	padding: 0px 5px 20px 5px ;

}

#found-holder{
	margin-top: 30px;
}

/* IMPORTANT - must give map div height */
#map-canvas { height:400px; }

/* IMPORTANT - fixes webkit infoWindow rendering */
#map-canvas img { max-width: none; }